*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Poppins;
}
body{
     background-color: #2a3a45;
}
.Header{
      text-align: center;
      margin: 10px;
      background-color: grey;
      padding: 10px 20px;
      color:aliceblue;
      border-radius: 3px;
}
.IN{
     display: flex;
     align-items: center;
     justify-content: center;
}
.input{
     width: 60%;
     padding: 10px 20px;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     border: 1px solid black;
     background-color: white;
}
.Btn{
     width: 20%;
     padding: 10px 20px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border: none; 
     background-color: rgb(161, 154, 154);
     font-size: 14px;
     color:rgb(0, 0, 0);
     border: 1px solid black;
}
.Btn:hover{
     scale: 0.9;
}
.Card{
     width: 400px;
     height: auto;
     position: absolute;
     transform: translate(-50%,-50%);
     left: 50%;
     top: 50%;
     border: 2px solid white;
     background-color: white;
     box-shadow: 0 20px 30px rgba(233, 233, 233, 0.15);
     border-radius: 20px;
}
.Boi{
     display: flex;
     align-items: center;
     justify-content: center;     
     text-align: center;
     gap: 30px;
}
.Image{
     width: 100px;
     height: 100px;
     margin: 15px;
     border-radius: 10px;
     background-size: cover;
}

.Top{
     display: flex;
     align-items: center;
     
}
.Name-User_Id{
     margin-left: 15%;
}
.Name{
     font-size: 15px;
     color: rgb(0, 0, 0);
     text-align: center;
     margin-bottom: 5%;
     text-align: center;
}
.User-Name{
     font-size: 15px;
     color: rgb(0, 0, 0);
     text-align: center;
}
.Follower{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      font-size: 20px;
      color: rgb(0, 0, 0);
      margin: 10px;
      background-color: gray;
      padding: 10px 20px;
      border-radius: 20px;
}
.S{
     padding: 5px 5px;
     border-radius: 10px;
}
.Repo{
     display: flex;
     flex-direction: column;
     align-items: start;
     margin: 20px;
     gap: 20px;
}

.LocationAddr{
     text-align: center ;
     margin: 1px;
     background-color: gray;
     padding: 10px 20px ;
     border-radius: 15px;
}